@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #E78054;
}
h1 {
    font-family: 'Bad Script', cursive;
    font-weight: 1000;
    color: #ffffff;
}